## Note

Keep in mind that there are many different solutions to the challenges! There is not one, "right" solution. So if you have something else that works that may be correct as well. It is about the problem solving process.

Just go through the challenges and compare your solution to ours. Also ask around how other people solved the challenge. You learn a lot by reading other people's code.

## Session 1

In [0]:
# challenge 1

age = input('What is your age?\n')
name = input('What is your name?\n')

def function(name, age):
  return str(name) + ' is ' + str(age) + ' years old'

function(name, age)

What is your age?
d
What is your name?
d

'd is d years old'

In [0]:
# challenge 2

number = 4

def function_2(number):
  return ((number * 2.71828) ** 2) * 5

function_2(number)

591.1236926720001

In [0]:
# challenge 3

january = input('Is it January?\n ')

def what_should_I_drink(January):
  
    if january == 'yes':
      time_of_day = input('What time of day is it?\n')
      
      if time_of_day == 'morning':
        print('Mimosa')
      
      elif time_of_day == 'afternoon':
        print('Red wine')
      
      elif time_of_day == 'evening':
        print('Scotch')
        
      else:
        print('No time is specified')
    
    elif anuary == 'no':
      print('Too bad')
    
    else:
      print('I did not understand that')

what_should_I_drink(january)

Is it January?
 yes
What time of day is it?
mk
No time is specified

In [0]:
# challenge 4

string = 'h sh i hello th hoi j'

def no_spaces(string):
  
  string = string.replace(' ','')
  return string

no_spaces(string)

'hshihellothhoij'

In [0]:
# challenge 5

number = input('What is your number?')

def even_test(number):
  
  if int(number) % 2 == 0:
    return 'even'
  else:
    return 'odd'
               
even_test(number)

What is your number?4

'even'

In [0]:
# challenge 6

input = ['this','is','what','we','call','list','of','strings']

def starring(arr):

  # sort the array in alphabetical order
  arr.sort()
  # select the first item
  first_word = arr[0]
  # select first letter
  output = first_word[0]
  print(first_word)
  print(output)

  for item in first_word[1:len(first_word)]: # loop from 1 len of first_word
    output = output + '***' + item  
  
  return output

starring(input)

call
c

'c***a***l***l'

## Session 2

In [0]:
# in class

sum_range = 0
for i in range(1,201):
    if i % 9 == 0 or i %5 == 0:
        sum_range = sum_range + i
print(sum_range)

5927

In [0]:
# Here we will use the loop method to create a sum variable for our list

sum_list = 0
for i in range(1, 5):
    sum_list = sum_list + i
print(sum_list)

10

In [0]:
# challenge 1 
# Note that we do not use the 'input' method to illustrate that there are other ways to assign a value to the number of nights

def hotel_cost(nights):
    
    price = 140 * nights
    return price
  
hotel_cost(4)

560

In [0]:
# Note that we do not use the 'input' method to illustrate that there are other ways to assign a value to the city
def plane_ride_cost(city):
    if city == "Rome":
        return 183
    elif city == "Dublin":
        return 220
    elif city == "Prague":
        return 222
    elif city == "Madrid":
        return 475
    else:
      return 0
    
plane_ride_cost(city="Dublin")

220

In [0]:
# challenge 2
# Note that we do not use the 'input' method to illustrate that there are other ways to assign a value to the number of days

def rental_car_cost(days):
  if days <= 3:
    cost = 20 * days
  elif days >= 7:
    cost = 50 * days
  else:
    cost = 40 * days
  return cost

rental_car_cost(5)

200

In [0]:
# challenge 3

def hotel_cost(nights):
    
    price = 140 * nights
    return price
  
hotel = hotel_cost(4)


def plane_ride_cost(city):
    if city == "Rome":
        return 183
    elif city == "Dublin":
        return 220
    elif city == "Prague":
        return 222
    elif city == "Madrid":
        return 475
    else:
      return 0
    
plane_cost = plane_ride_cost(city="Dublin")


def rental_car_cost(days):
  if days <= 3:
    cost = 20 * days
  elif days >= 7:
    cost = 50 * days
  else:
    cost = 40 * days
  return cost

car_costs = rental_car_cost(5)



def trip_cost(hotel, plane_cost, car_costs):
    return f'your total costs are {hotel + plane_cost + car_costs} euros'


trip_cost(hotel, plane_cost, car_costs)

'your total costs are 980 euros'

In [0]:
# challenge 4

lst = ['Beer', 'Wine', 'Water', 'Scotch', 'Orange juice', 'Milk', 'Red Bull', 'Coffee']

# print ['Coffee', 'Milk', 'Scotch']

print(lst[:1:-2])

# this for example, prints all the even indexes in the list
print(lst[::2])

['Coffee', 'Milk', 'Scotch']
['Beer', 'Water', 'Orange juice', 'Red Bull']

In [0]:
# challenge 5

total_sum = 0
a = int(input('What number to you choose? \n'))
while a > 0:
  total_sum += a
  if total_sum >= 21:
    print('Total sum is', total_sum)
    break
  a = int(input('What number to you choose? \n'))

What number to you choose?
4
What number to you choose?
7
What number to you choose?
6
What number to you choose?
9
Total sum is 26

## Session 3

In [0]:
# challenge 1

class BankAccount:
    def __init__(self):
        self.balance = 0

    def withdraw(self, amount):
        self.balance -= amount
        return self.balance

    def deposit(self, amount):
        self.balance += amount
        return self.balance

In [0]:
# challenge 2

bank_1 = BankAccount()
bank_2 = BankAccount()

In [0]:
bank_1.deposit(158)
bank_1.withdraw(55)
bank_1.withdraw(200)

In [0]:
bank_2.withdraw(477)
bank_2.deposit(546)
bank_2.deposit(37)

In [0]:
# challenge 3

class BankAccount:
    def __init__(self, balance):
        self.balance = balance

    def withdraw(self, amount):|
        self.balance -= amount
        return self.balance

    def deposit(self, amount):
        self.balance += amount
        return self.balance
      
    def minimum_balance(self):
      if (self.balance) >= 0:
        return "Enough credit"
      else:
        return "Not enough credit"
      
c = BankAccount(12)
print(c.minimum_balance())

## Session 4

In [0]:
#In-class exercise #1
#Now we want the grades of everyone above an 9.0 or below a 6.0
grades[(grades.grade>9.0) | (grades.grade<6.0)]

In [0]:
#In-class exercise #2
# If we want to find out what score the first student got on test_2 we can simply write the following command:
print(test_2[0])
# This prints the first score in our sample for test_2
# You can double check by printing the entire array for test_2 like this:
print(test_2)

In [0]:
#Challenge 1
# As you may have noticed, you do not need a for loop to solve this problem.
temperatures_fixed = temperatures + 2
print(temperatures_fixed)

In [0]:
#Challenge 2
thursday_afternoon = temperatures_fixed[1,3]
print(thursday_afternoon)

In [0]:
#Challenge 3
temperatures_extremes = temperatures_fixed[(temperatures_fixed>20) | (temperatures_fixed < 5)]
print(temperatures_extremes)

In [0]:
#Challenge 4
temperatures_average = (temperatures_fixed + temperatures2)/2
print(temperatures_average)

In [0]:
#Challenge 5
temperatures_average_transpose = temperatures_average.transpose()

temperatures_average_wednesday = temperatures_average_transpose[2,:]

print(temperatures_average_wednesday)

In [0]:
#Challenge 6
#One way to solve this challenge
newrow = [6,5,3]
temperatures_average_transpose_new_row = np.vstack([temperatures_average_transpose, newrow])
print(temperatures_average_transpose_new_row)

In [0]:
#Challenge 7
np.arange(285, 12, -13)

## Session 5

In [0]:
# challenge 1

# list of attendees
present = [102, 101, 79,96]
# num absent students
absent = [25,26,48,31]

# x axis
sessions = ['1','2','3','4']

new_df = pd.DataFrame({'present': present,'absent': absent}, index=sessions)

plot_it = new_df.plot.bar(rot=0, x_)

In [0]:
# challenge 2
# get age question
age = df['Q2'].iloc[1:]
age = age.value_counts()[:10].plot('bar', figsize=(20,6),rot=0, fontsize=12,
                                            title='Age of the respondents')

In [0]:
# challenge 3
all_countries = df['Q3'] 

# No people from Moldova, sad, but used Romania instead
romanians = all_countries == 'Romania'

share = sum(romanians)/len(all_countries)
print(f'There were {share*100} % of Romanians')

In [0]:
# challenge 4

# changed to >> find the range of the median


earnings = df['Q9'].iloc[1:]

earnings_wo = earnings[earnings != 'I do not wish to disclose my approximate yearly compensation']


earnings_visualized = earnings_wo.value_counts()[:30].plot('barh', figsize=(10,6),rot=0, fontsize=10,
                                            title='Income of the respondents')

# median is the middle value or ordered list

print(f'There were {len(earnings_wo)} respondents in total\n')

resp = len(earnings_wo)
print(f'median is number {resp/2}')


val = earnings_wo.value_counts()

print(val)

# check in which range the median is
print(4398 + 1937 + 1395 + 1119+ 965)

# so the median is in category 40-50.000