#Week 1
##Session 2

###Welcome to the second session of the Python for datascience bootcamp. During this session we will continue on our path to learn Python and get familar with data science.

###Outline:

- Recap Session 1
- Lists and Tuples
- Loops
- List comprehensions
- In-class project

###Challenges
- 3 Challenges, Vacation costs calculator

![alt_text](https://i.pinimg.com/originals/19/89/1b/19891b1eb9c47b70b739e06b20ba83cd.jpg)

##Recap Session 1
####Now, we will quickly go through some of the most important things we learned during the last session in order to make sure everyone remembers the problems we can solve with Python up to now.



In Python, you will deal with different *data types*, a category for values. 
These are a few common data types;


---


>Data type | Examples
>--- | ---
>Integers | -2, -1, 0, 1, 2, 3, 4, 5
>Floating-point numbers | -1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25
> Strings | 'a', 'aa', 'aaa', 'Hello!', '11 cats'
​
​

---


It is often useful to store a data type, like an integer, in a box. Then we can save it and use it later on.
We call boxes where we can store information in a **variable**.
​
A variable is created when you assign a value to it. Below we assign julie to name. You can think of this as storing julie in a box, called name.
​
We can store strings but also numbers in a variable. 
​
Watch [this](https://www.youtube.com/watch?v=Z1Yd7upQsXY) video on variables at home! 
​
​


![alt text](https://mozilla.github.io/webmaker-curriculum/QuackingJavascript/images/boxes_variables_arrow.png)

In [0]:
# Recap of strings and how they can be assigned to variables as well
greeting = 'Hello'
name = 'Bob'

In [0]:
message = greeting + " " + name
print(message)

Hello Bob

## Global vs. Local variables

###Global variables
In Python, a variable declared outside of the function or in global scope is known as global variable. This means, global variable can be accessed inside or outside of the function.

###Local variables
A variable declared inside the function's body or in the local scope is known as local variable.


The image below clearly shows the difference between calling local and global variables
![alt_text](https://www.guru99.com/images/Pythonnew/Python5.3.png)

In [0]:
# Let's see an example on how a global variable is created in Python.

# This function uses global variable s 
def function():  
    print(s)  
  
# Global scope 
s = "I love Python"
function()

I love Python

In [0]:
# This function has a variable with the same name as s. 
def function():  
    s = "Me too."
    print(s)
  
# Global scope 
s = "I love Python" 
function() 
print(s)

Me too.
I love Python

####Any variable which is changed or created inside of a function is local, if it hasn’t been declared as a global variable. To tell Python, that we want to use the global variable, we have to use the keyword “global”, as can be seen in the following example:

In [0]:
# This function modifies global variable 's' 
def function(): 
    global s 
    print(s) 
    s = "Python is alright"
    print(s)  
  
# Global Scope 
s = "Python is great!" 
function() 
print(s)

Python is great!
Python is alright
Python is alright

### Strings

We have seen that strings in pythons are surrounded with either single (' ') or double (" ") quotation marks, and can be displayed using the `print` statement. 

[This](https://www.youtube.com/watch?v=k9TUPpGqYTo&list=PL-osiE80TeTskrapNbzXhwoFUiLCjGgY7&index=2) video explains the concepts of string formatting really well.

Now we will check out a few things we can do with strings in Python.

In [0]:
# we will create a string variable
city = 'Rotterdam'

In [0]:
# We can select and print a part of our string (a substring)
print(city[0:3])

Rot

In [0]:
# what is the length of our string?
print(len(city))

9

### Comparison Operators

- we use comparison operators to compare two values
- when comparing two values, the output will be a Boolean value (True or False)

**Boolean values**. A data type that has one of two possible values, `True or False`. Together they represent the truth values of logic and Boolean algebra  [George Boole](https://en.wikipedia.org/wiki/George_Boole).


These are the comparison operators

>Operator | Meaning
>--- | ---
> == | equal to
>!= | not equal to
> < | less than
> > | greater than
> <= | less than or equal to
> >= | greater than or equal to

In [0]:
# check if they are equal
14 == 14

True

In [0]:
17 == 42

False

In [0]:
# we can also do this for strings!
'Erasmus' == 'Erasmus'

True

#### Be careful!

- the `=` operator is for assignment, it puts the value on the right into the variable on the left. 
- the `==` operator compares 2 values, essentially checks if they are the same

### Boolean Operators
​
​
​
![alt text](http://www.emcu.it/Python/Immagini/LogicalOperators.png)
​
​
​
this video (7 min) explains [boolean operators](https://www.youtube.com/watch?v=CI7LN3Gr2y4) well

In [0]:
# we can combine math operators and boolean operators

(4 < 5) and (5 < 6)
# End of Recap and Start of new content

True

##Lists & Tuples

###Lists
Lists in Python are used to store collection of heterogeneous items. These are mutable, which means that you can change their content without changing their identity. You can recognize lists by their square brackets and that hold elements, separated by a comma.

###Tuples
Tuples are another standard sequence data type. The difference between tuples and lists is that tuples are immutable, which means once defined you cannot delete, add or edit any values inside it. This might be useful in situations where you might to pass the control to someone else but you do not want them to manipulate data in your collection, but rather maybe just see them or perform operations separately in a copy of the data.

>Lists | Tuples
>--- | ---
>Values can be altered | Values cannot be altered
>Have square brackets | Often have round brackets or no brackets at all
​

####In short --> Lists can be altered, tuples cannot be altered. So, once a tuple is defined, we can no longer modify it. The syntax determines whether we have a tuple or a list.

Watch [this](https://www.youtube.com/watch?v=RVXIBZvg-W8) video (6 min) about the differences between Tuples & Lists.

In [0]:
#Here are some examples of tuples & lists
tuple1 = 5, 6, 2, 6
tuple2 = (5, 6, 2, 6)
list1 = [5,6,2,6]

In [0]:
#We can also print lists in the same way as we printed stuff earlier
xlist = [3, 5, 6]
print (xlist)

[3, 5, 6]

In [0]:
#Or print an item of our list
print(xlist[0:2])

[3, 5]

In [0]:
#We can add an item to our list as well
xlist.append([10,3,5])
print(xlist)

[3, 5, 6, 10, [10, 3, 5]]

In [0]:
#Now we will create a new list and print it
ylist = [7, 4, 1, 9]
print(ylist)

[7, 4, 1, 9]

In [0]:
#Let's see what happens when we add our lists together in a new variable and print the result:
largelist = xlist + ylist
print(largelist)

[3, 5, 6, 10, [10, 3, 5], 7, 4, 1, 9]

In [0]:
#It is also possible to check if certain values are present in a list:
#These simple tests can be very useful when analysing data
1 in largelist

True

In [0]:
2 in largelist

False

###Tuples can be used when you are sure you do not want to change your data
###Lists can be used when you want to eventually modify your data

In [0]:
old_list = [1,2,3,4]
print(old_list)

[1, 2, 3, 4]

In [0]:
#Now you will see how you can print a list without first defining the list
new_list = list(range(1,5))
print(new_list)

[1, 2, 3, 4]

##Dictionaries
####A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets. While other compound data types have only value as an element, a dictionary has a key: value pair. Simply put, you can use a dictionary to match values with a key to show relationships within your data.

Each key is separated from its value by a colon (:), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.

Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

![alt_text](http://www.trytoprogram.com/images/python_dictionary.jpg)


[This video (10 min)](https://www.youtube.com/watch?v=daefaLgNkw0) will teach you about the basics of dictonaries and how you can alter them in Python

In [0]:
# Here we create and print a dictionary:
dictionary_example =	{ "brand": "Ford", "model": "Mustang", "year": 1964 }
print(dictionary_example)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [0]:
# Next, we can display the value of the 'model' key
x = dictionary_example["model"]
print(x)

dictionary_example.values()

Mustang

dict_values(['Ford', 'Mustang', 1964])

In [0]:
# Now we will alter the dictionary
# We will set the year of the car equal to 2018 and print out tge whole dictionary to view our changes

dictionary_example["brand"] = "Audi"
print(dictionary_example)

{'brand': 'Audi', 'model': 'Mustang', 'year': 2018}

####We can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [0]:
# Here we print all key names in the dictionary, one by one:

for x in dictionary_example:
  print(x)

brand
model
year

In [0]:
# Now we print out all values in the dictionary, one by one:
for x in dictionary_example:
  print(dictionary_example[x])

Audi
Mustang
2018

In [0]:
# You can loop through both keys and values, by using the items() function:

for x, y in dictionary_example.items():
  print(x, y)

brand Ford
model Mustang
year 2018

In [0]:
# There are also ways to add keys and values to our dictionary:

dictionary_example["color"] = "red"
print(dictionary_example)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

In [0]:
# Finally, we can also remove values from our dictionary

del dictionary_example["model"]
print(dictionary_example)

{'brand': 'Ford', 'year': 2018, 'color': 'red'}


##LOOPS
###below we will create the list we want to loop through:

In [0]:
fruits = ['apple', 'banana', 'cherry']

###Our goal:
####To print every item in our fruits list.
First we will try the hard way:

In [0]:
print(fruits[0])

apple

In [0]:
print(fruits[1])

banana

In [0]:
print(fruits[2])

cherry

###The easy way is to create a so called 'for' loop. Then we will 'loop' through the function and make something will happen 'for' every relevant value in our funtion. For example, you may want to print out each character in the word 'oxygen'. This is the intuition behind an approach that includes a for loop to print out each character in a word: 


![alt text](https://swcarpentry.github.io/python-novice-inflammation/fig/loops_image.png)


###If you want to learn more about for loops [This](https://www.youtube.com/watch?v=9LgyKiq_hU0) tutorial (10 min) gives some more explanation about how to interpret for loops.

In [0]:
word = 'oxygen'

for i in word:
  print(i)

o
x
y
g
e
n

In [0]:
#Below, we want to print out each element in our list 'fruits':
for element in fruits:
    print(element)

apple
banana
cherry

In [0]:
#'element' can also be written as 'i' (This is the most popular way to loop through each element)
#But, note that 'i' can be anything you want.
#Try it yourself, substitute 'i' for a random piece of text and check if you get the same result
for i in fruits:
    print(i)

apple
banana
cherry

In [0]:
xlist = [1, 2, 3 ,4]
for i in xlist:
    print(i)

1
2
3
4

In [0]:
n=5

for i in range(1,n):
    i += 1
    print(i)

2
3
4
5

##In-class exercise:
- Start by creating a variable called sum_range and set it equal to zero
- Write a for loop that defines a list of the numbers 1 until 4
- Within the for loop, let the value of sum_range increase for each element within the range of the list you just created 
- Finally, print the value of sum_range

#Modulo %

For our next in-class project we will put the modulo into practice. It seems very simple at first, but do not underestimate how useful this modulo can be in data science. The modulo is very similar to simply dividing a number by another number, except the modulo will give you the remainder of the division. These next examples will illustrate how the modulo can be used in practice

In [0]:
9 % 3

0

In [0]:
10%3

1

In [0]:
11%3

2

In [0]:
12%3

0

In [0]:
29%5

4

In [0]:
7463584329 % 7

5

In [0]:
7463584324 % 7

0

In [0]:
7463584324 / 7

1066226332.0

#In-class exercise
####Find the sum of all multiples of the numbers 5 and 9 that fall in the range of 1 up to and including 200. Double counting is not allowed.
####(Hint)-->  If you are stuck, Google is your best friend
- Illustration: In the range from 1 up to and including 20. 
  - The multiples of 5 are: 5, 10, 15 & 20 (sum = 50)
  - The multiples of 9 are: 9, 18, 27 (sum = 54)
 - So the sum of all multiples of the numbers 5 & 9 that are in the range of 1 up to and including 20 is 104 (50 + 54)
 - Now do the same thing for the range of 1 up to and including 200
 
![alt_text](https://i.pinimg.com/originals/11/b4/20/11b420fbf1595be3056ad6355277933c.jpg)

## WHILE LOOPS

Also widely used in Python. Intuition --> you use While loops for situations of which you do not know when they will end. For loops are typically used in situation of which you know when they will end.

"It's like using an if statement that you want to happen over-and-over again"

Problem --> Infinite loops that crash your program. 

The flow chart below illustrates how an eternally truthful statement may lead to an unlimited amount of loops

![alt_text](http://4.bp.blogspot.com/-5ZONKPftmOQ/UeBya1b_D0I/AAAAAAAAAFE/ipsgv5bmNK8/s1600/Do+While+Loop+C+(flowchart)

###Problem --> Infinite loops that crash your Program!
- If your while loop is not defined properly, it may run forever.
- Be sure to let your while loop end at a certain point.
- Read [this](https://www.tutorialspoint.com/python/python_while_loop.htm) article that explains loops and how you can avoid crashing your system with an infinte while loop

In [0]:
#To illustrate how a while loop is used, we will build a countdown loop for a spaceship
count = 0
while count < 10:
    print(count)
    count = count +  1

0
1
2
3
4
5
6
7
8
9

In [0]:
count = 0
while count < 10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [0]:
count = 10
while count >= 0:
    if count == 0:
        print ("Blast off!")
    else:
        print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1
Blast off!

##List Comprehensions

List comprehensions are a short way of writing for loops and can be very useful when merging or altering datasets for example. 

We will show a basic example of this below

You can also get a head start before we begin and already watch [this](https://www.youtube.com/watch?v=5K08WcjGV6c) tutorial (7 min).

In [0]:
# make a list
a = [1, 3, 5, 7, 9, 11]

In [0]:
b = [2, 6, 10, 14, 18, 22]

In [0]:
# make a list
c = []

c.append(10)
c.append(3)
c.append(7)
print(c)

[10, 3, 7]

In [0]:
#Whereas, .extend extends the list by appending elements from the iterable.
d = [1, 2, 3]
d.extend([4, 5])
print(d)

[1, 2, 3, 4, 5]

In [0]:
#The difference between the extend and append methods is best illustrated by using them on the same lists:
#Note that the append function will lead to a list within a list here!
a1 = [1, 'x', 'y']  
a2 = [1, 'x', 'y']  

b = [2, 3]

a1.append(b)   
a2.extend(b)

print(a1)  
print(a2)

[1, 'x', 'y', [2, 3]]
[1, 'x', 'y', 2, 3]

In [0]:
e = []
for i in c:
    e.append(i * 2)
print(e)

e = [i * 2 for i in c]
print(e)

[20, 6, 14]
[20, 6, 14]

In [0]:
f = [i ** 2 for i in range(1, 7)]
print(f)

[1, 4, 9, 16, 25, 36]

In [0]:
# Here we create and print a dictionary:

dictionary_example =	{ "brand": "Ford", "model": "Mustang", "year": 1964 }
print(dictionary_example)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [0]:
# Next, we can display the value of the 'model' key

x = dictionary_example["model"]
print(x)

Mustang

In [0]:
# Now we will alter the dictionary
# We will set the year of the car equal to 2018 and print out tge whole dictionary to view our changes

dictionary_example["year"] = 2018
print(dictionary_example)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

####We can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [0]:
# Here we print all key names in the dictionary, one by one:

for x in dictionary_example:
  print(x)

brand
model
year

In [0]:
# Now we print out all values in the dictionary, one by one:

for x in dictionary_example:
  print(dictionary_example[x])

Ford
Mustang
2018

In [0]:
# You can loop through both keys and values, by using the items() function:

for x, y in dictionary_example.items():
  print(x, y)

brand Ford
model Mustang
year 2018

In [0]:
# There are also ways to add keys and values to our dictionary:

dictionary_example["color"] = "red"
print(dictionary_example)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018, 'color': 'red'}

In [0]:
# Finally, we can also remove values from our dictionary

del dictionary_example["model"]
print(dictionary_example)

{'brand': 'Ford', 'year': 2018, 'color': 'red'}

In [0]:
# Let's see an example on how a global variable is created in Python.

# This function uses global variable s 
def function():  
    print(s)  
  
# Global scope 
s = "I love Python"
function()

I love Python

In [0]:
# This function has a variable with the same name as s. 
def function():  
    s = "Me too."
    print(s)
  
# Global scope 
s = "I love Python" 
function() 
print(s)

Me too.
I love Python

####Any variable which is changed or created inside of a function is local, if it hasn’t been declared as a global variable. To tell Python, that we want to use the global variable, we have to use the keyword “global”, as can be seen in the following example:

In [0]:
# This function modifies global variable 's' 
def function(): 
    global s 
    print(s) 
    s = "Python is alright"
    print(s)  
  
# Global Scope 
s = "Python is great!" 
function() 
print(s)

Python is great!
Python is alright
Python is alright

## Introduction to the Challenge; Vacation costs calculator

### Description of the exercise : 

Multiple types of costs should be budgeted when going on holiday. the first type of costs that we will define is hotel costs (we will create this first function together)

Note that in these functions we use a return 'return' statement instead of a 'print' statement
If you are having some trouble with functions [this tutorial](https://www.youtube.com/watch?v=NSbOtYzIQI0) (15 min) could help you understand it better.

In [0]:
nights = int(input('How many nights do you want to stay?\n'))

def hotel_cost(nights):
    return 140 * nights
  
hotel_cost(nights)

How many nights do you want to stay?
4

560

###Difference between 'Return' statement vs. 'Print' Statement:
####Intuition --> Print shows the human what is going on, return is often unseen by human user, but it used by computers within the functions
####Rule of thumb --> 'print' does not affect the function (it is only there to show what is going on, 'return' is the main way used within functions to return a value

In [0]:
#The functions below illustrate how the use of 'print' and 'return' may lead to different outcomes:

def function_that_prints():
    print("I printed")

def function_that_returns():
    return "I returned"

f1 = function_that_prints()
f2 = function_that_returns()
print("Now let us see what the values of f1 and f2 are:")
print(f1)
print(f2)

I printed
Now let us see what the values of f1 and f2 are:
None
I returned

## Challenge #1
###The next costs that we will include in our model are the plane ride costs. Note that these costs will differ for different destinations.
- Create a function that takes 'city' as a parameter and return different costs of the plane ride for four different cities.
- Use the 'input' method from the last session to define the variable city
- When one of the cities below is given as input, your function should return the costs for the corresponding city
###Here are the cities and their respective costs for your function:

>City | Costs
>--- | ---
>Rome | 183
>Dublin | 220
> Prague | 222
> Madrid | 475

##Challenge #2 
####Now we will include the costs of a rental car in our model. Note that in this model, the price per day of renting a car changes for diffent lengths of the total time the car was rented.
####We will create an entire new function that will take 'days' as a parameter and return the costs of renting a car for a numbers of days.
####In this function we want:
- The cost per day for renting a car per day to be equal to 40, but:
- If the number of days is equal to or above seven, then the costs per day of renting a car are equal to 50
- If the amount of days that the car is rented is equal or below three, the costs per day of renting the car are 20.
####Finally, return the cost of renting a car in your function

##Challenge #3 
####Now it is time for the big finale. We will create a new function that combines all the costs in our model and gives us our total costs of the trip. This big function will have all the smaller functions as arguments
####Define a function that takes all three parameters of the three previous functions related to the vacation costs calculator as parameters (Introduction to the Challenge, Challenge #1 and #2). (Hint--> Separate the parameters by using commas)
####(Hint #2 --> If you have already defined the relevant variables and functions that are needed for the 'total function' in cells that you have run earlier, Python will remember these values)
- Make sure this total function will return the cummulative costs of all three functions with their respective parameters
- When the function is defined, you can test if it works by calling the function

##Challenge #4 (Be creative)
- Create a list with the values ['Beer', 'Wine', 'Water', 'Scotch', 'Orange juice', 'Milk', 'Red Bull', 'Coffee'] (Copy & Paste)
- Write a method that prints the following output of the list: ['Coffee', 'Milk', 'Scotch']

Hint --> Understanding the fundamentals of list indexing might help you

Hint --> Google & Stackoverflow are your best friends

##Challenge #5 (while loop)


We will make a simple version of the game Blackjack:
- Create a variable that is equal to the user's input
- Create a while loop that keeps on asking for your input and counts the sum of your input up to and including the number 21
- If the sum of all your input is higher than 21: the loop should print ('Your total sum is: [your_sum]'), and the loop should end
- If the sum of all your input is lower than 21, the loop should continue to keep running and continue to ask for your input until the value of 21 is reached and you lose the game :(


####Remember to be careful with while loops, as they may run into infinity!
Hint --> Try working with the 'break' method in your while loop to solve the problem of infinite loops

###Resources:
- [Explanation of Python data structures (strings, booleans, lists, typles, etc.)](https://www.datacamp.com/community/tutorials/data-structures-python)
- [Further explanation of Lists and Tuples](https://www.programiz.com/python-programming/list-vs-tuples)
- [Python loops article](https://www.tutorialspoint.com/python/python_while_loop.htm)
- [10 min video that explains Python loops](https://www.youtube.com/watch?v=6iF8Xb7Z3wQ)